.converter-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.converter-input__value {
  display: flex;
  align-items: stretch;

  .converter-input__select,
  .converter-input__input {
    border-width: 0px;
    padding: 12px;
    border: 1px solid #ccc;
  }
  .converter-input__select:focus,
  .converter-input__input:focus {
    outline: none;
  }

  .converter-input__select {
    border-radius: 10px 0px 0px 10px;
  }

  .converter-input__input {
    border-radius: 0px 10px 10px 0px;
    border-left: none;
  }
}

.converter-input__buttons {
  display: flex;
  gap: 10px;
}
