.select {
  --select-svg-stroke: var(--inline-border-color);
  --select-svg-fill: var(--inline-border-color);
  --select-border-width: var(--inline-border-width);
  --select-border-radius: var(--inline-border-radius);
  --select-border-color: var(--inline-border-color);
  --select-border-style: var(--inline-border-style);
  --option-bg-color: rgb(87, 87, 87);
  --option-border-color: gray;

  border-width: var(--select-border-width);
  border-radius: var(--select-border-radius);
  border-color: var(--select-border-color);
  border-style: var(--select-border-style);
  padding: 10px;
  cursor: default;
  user-select: none;

  anchor-name: --select-anchor;
}

.defaultOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: calc(anchor(--select-anchor bottom) + 4px);
  right: anchor(--select-anchor right);
  visibility: hidden;
  padding: 5px;
  z-index: 10;

  border: 2px gray solid;
  background-color: var(--option-bg-color);

  &.active {
    visibility: visible;
  }
}

.option {
  border-radius: 12px;
  padding: 0px 6px;
  margin-top: 2px;
  transition: background-color var(--anim-duration), color var(--anim-duration);

  &:hover {
    color: black;
    cursor: pointer;
  }

  &.selected {
    &::before {
      content: '✔ ';
    }
  }
}

.svg,
.rotatedSvg {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: var(--select-svg-stroke);
  stroke-width: 2px;
  transition: transform var(--anim-duration), fill var(--anim-duration);
}

.rotatedSvg {
  transform: rotate(90deg);
  fill: var(--select-svg-fill);
}
