.radioButtons {
  display: flex;
  gap: 10px;
  border-radius: var(--inline-border-radius);
  border-color: var(--inline-border-color);
  border-width: var(--inline-border-width);
}

.legend {
  user-select: none;
}
