.settings {
  align-self: flex-end;

  /* position: relative; */
  --collapse-bg-color: black;
  --collapse-box-shadow: 0px 0px 5px gray;
}

.collapseButton,
.collapse {
  box-shadow: var(--collapse-box-shadow);
  padding: 10px;
  border-radius: 8px;
}

.collapseButton {
  anchor-name: --collapse-button;
  text-align: right;
  cursor: pointer;
  user-select: none;
}

.collapse {
  background-color: var(--collapse-bg-color);
  position: absolute;
  top: calc(anchor(--collapse-button bottom) + 10px);
  right: calc(anchor(--collapse-button right));
  /* width: fit-content; */
  /* text-wrap-mode: nowrap; */
  /* min-width: 600px; */
  height: anchor-size(height);

  width: calc(anchor-size(width) * 33);
}

.radioButtons {
  display: flex;
  gap: 10px;
}
