.settings {
  align-self: flex-end;

  --collapse-bg-color: var(--panel-bg-color);
  --collapse-box-shadow: 0 8px 24px rgba(1, 4, 9, 0.8);
}

.collapseButton,
.collapse {
  box-shadow: var(--collapse-box-shadow);
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 8px;
}

.collapseButton {
  anchor-name: --collapse-button;
  text-align: right;
  cursor: pointer;
  user-select: none;
  background-color: var(--btn-bg-color);
  color: var(--text-muted-color);
}

.collapse {
  background-color: var(--collapse-bg-color);
  position: absolute;
  top: calc(anchor(--collapse-button bottom) + 10px);
  right: calc(anchor(--collapse-button right));
  /* width: fit-content; */
  /* text-wrap-mode: nowrap; */
  /* min-width: 600px; */
  height: anchor-size(height);

  width: calc(anchor-size(width) * 33);
}
